*.pyc
Untitled.ipynb
.ipynb_checkpoints
.dat

*.temp

*.xml

*.dat
.idea
camera/brdf.*.camera
obj/obj_example.obj
.pyx
.c

*.swo

*.swp

*.copy

setup.py

materials_test.py

obj/birch_tree_scene.fs.obj

light/pulse_50000sd.lidar

camera/large_footprint.lidar

camera/lfp_gauss.lidar

camera/pulse_50000sd.lidar

camera/shrubs.camera

camera/shrubs.lidar

camera/small_footprint.lidar

light/large_footprint.lidar

light/large.pulse

light/lfp_gauss.lidar

light/opGaussian.hips

light/pulse_50000sd.lidar

light/pulse_50000sd.lidar

light/shrubs.lidar

light/small.pulse

light/small_footprint.lidar

obj/lollipops-on-sticks.obj

obj/obj_example.obj

obj/obj_example.obj

.DS_Store
